<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer</title>
    <script src="rl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.14.2/matter.min.js"
        integrity="sha512-pi0tSRZdlNRZeANPwdAIHRAYg6gZZV6QlAiyHXn5TYqLzBKE9jlttO/QgYLMhISD6oNv2kPsVelx+n5nw0FqKA=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DQN Learning Based on different reward factors (4 way soccer model)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: red;">TESTING <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/gomgom03/Soccer_RL">GITHUB<span
                            class="sr-only"></span></a>
                </li>
            </ul>
        </div>
        <div>
            <small>Created by Hyun Min (Eddie) Kim</small>
            <br>
            <small>Using <a href="https://github.com/karpathy/reinforcejs">reinforce.js</a></small>
        </div>

    </nav>
    <div class="container-fluid mt-3 mb-3">
        <div class="row">
            <div class="col-7">
                <div class="container" id="canvasContainer">
                </div>

            </div>
            <div class="col">
                <button data-toggle="collapse" data-target="#rewardFactors">
                    <strong>Change Reward Factors</strong>
                </button>
                <div class="inputTitle collapse mb-3" id="rewardFactors">
                    <small class="inputDesc">
                        Actor's velocity: <strong>aVel</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Ball's velocity: <strong>bVel</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Distance from a to b: <strong>dist(a,b)</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Actor's position: <strong>aPos</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Ball's position: <strong>bPos</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Angle between vectors a and b: <strong>ang(a,b)</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Vector from position a to b: <strong>vect(a,b)</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Maximum speed of Actor: <strong>ms</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Selected Goal Position: <strong>sGoal</strong>
                    </small>
                    <br>
                    <small class="inputDesc">
                        Other closest Goal Position: <strong>oGoal</strong>
                    </small>
                    <br>

                    <div class="inputDiv mt-2 mb-2">
                        <span>Actor moving towards Ball: </span>
                        <br>
                        <input type="number" placeholder="0 - 1" id="abReward" class="rewardFactorInputs">
                        <div>
                            <small class="inputDesc">1 - ((dist(aPos + aVel, bPos) + ms - dist(aPos, bPos)) /
                                ms)</small>
                        </div>
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Ball moving towards selected Goal: </span>
                        <br>
                        <input type="number" placeholder="0 - 1" id="bgReward" class="rewardFactorInputs">
                        <div>
                            <small class="inputDesc">1 - ((dist(bPos + bVel, sGoal) + ms - dist(bPos, sGoal)) /
                                ms)</small>
                        </div>
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Distance from Ball to selected Goal vs the other nearest Goal: </span>
                        <br>
                        <input type="number" placeholder="0 - 1" id="distReward" class="rewardFactorInputs">
                        <div>
                            <small class="inputDesc">1 - (dist(bPos, sGoal) / dist(bPos, oGoal)), Min -1</small>
                        </div>
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Direction of vector from Actor to Ball vs Ball to selected Goal: </span>
                        <br>
                        <input type="number" placeholder="0 - 1" id="angleReward" class="rewardFactorInputs">
                        <div>
                            <small class="inputDesc">1 - 2 * cos^-1((vect(Ball, sGoal) · vect(Actor, Ball)) /
                                (dist(Ball,
                                sGoal) *
                                dist(Actor, Ball))) / PI</small>
                        </div>
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span># of sensors: </span>
                        <br>
                        <input type="number" class="rewardFactorInputs" placeholder="128" id="numSensors">
                    </div>
                    <button class="startButtons">
                        Start
                    </button>
                </div>
                <br>
                <button data-toggle="collapse" data-target="#parameters">
                    <strong>Change Parameters</strong>
                </button>
                <div class="inputTitle collapse" id="parameters">
                    <small class="inputDesc">
                        Default Values are in the Placeholder
                    </small>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Learning Type (qlearn or sarsa): </span>
                        <br>
                        <input type="text" class="parameterInputs" placeholder="qlearn" id="update">
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Discount Factor [0, 1): </span>
                        <br>
                        <input type="number" class="parameterInputs" placeholder="0.75" id="gamma">
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Intial Epsilon Value [0, 1): </span>
                        <br>
                        <input type="number" class="parameterInputs" placeholder="0.1" id="epsilon">
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Function Learning Rate: </span>
                        <br>
                        <input type="number" class="parameterInputs" placeholder="0.01" id="alpha">
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Number of time steps before adding another to replay memory: </span>
                        <br>
                        <input type="number" class="parameterInputs" placeholder="25" id="experience_add_every">
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Size of Experience: </span>
                        <br>
                        <input type="number" class="parameterInputs" placeholder="5000" id="experience_size">
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>Learning Step Per Iteration: </span>
                        <br>
                        <input type="number" class="parameterInputs" placeholder="10" id="learning_steps_per_iteration">
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span>tderror clamp: </span>
                        <br>
                        <input type="number" class="parameterInputs" placeholder="1" id="tderror_clamp">
                    </div>
                    <div class="inputDiv mt-2 mb-2">
                        <span># of neurons in hidden layer: </span>
                        <br>
                        <input type="number" class="parameterInputs" placeholder="100" id="num_hidden_units">
                    </div>

                    <button class="startButtons">
                        Start
                    </button>
                </div>
            </div>
        </div>



    </div>
    <script src="soccer.js"></script>
    <script src="dqn_learn.js"></script>
</body>

</html>