body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

.inputDesc {
    color: #ff0000;
    font-size: 12px;
}

.spanInfo {
    font-size: 14px;
}

.rewardFactor .parameterInputs .otherInputs {
    font-size: 13px;
}